*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  font-family: Helvetica;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 0px;
}

/*_______________*/
/*imagens de fundo*/
.jm header, .jm main{
  background-image: url('/Imagens/fundopapel2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.jm .fundo{
  background-image: url('/Imagens/fundoescuro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/*configurar logo*/
.log{
  height: auto;
  width: 50vw;
}
/*config. link*/
.link{
  text-align: center;
}
/*distanciar os elementos da logo e das bordas*/
.start{
  padding: 30px 40px;
}

/*_______________*/
/*CONFIG. DOS TEXTOS*/
p{
  font-size: 20px;
  padding-bottom: 10px;
}
h1{
  font-size: 70px;
}
h2{
  margin-right: 10px;
}
h3{
  font-size: 30px;
  margin-top: 20px;
  padding-bottom: 10px;
  color: #6910a4;
}
h4{
  margin-top: 10px;
  font-size: 22px;
  padding-bottom: 10px;
}
/*distanciar o subtítulo dos elementos abaixo:*/
.start h2{
  padding-bottom: 60px;
}
/*textos especiais para charmander:*/
.fire h1{
  color: #ef8504;
  font-size: 60px;
}
.fire h2{
  color: #2c6d64;
}
.fire h4{
  color: #e8860e;
}
.fire .verde strong{
  color: #007765;
}
/*textos especiais para Squirtle*/
.water h1{
  color: #2589e0;
  font-size: 60px;
}
.water h2{
  color: #85532a;
}
.water h4{
  color: #1869af;
}
.water .marrom strong{
  color: #85532a;
}
ataques{
  color: #02975a;
}
/*textos para Bulbasaur*/
.tree h1{
  color: #348262;
  font-size: 60px;
}
.tree h2{
  color: #4b7d80;
}
.tree h4{
  color: #02975a;
}
/*textos especiais para moura*/
.jm h1{
  font-size: 45px;
  padding-top: 20px;
}
.jm h3{
  color: #000;
}
.jm .fundo .text1{
  color: #fff;
}
.jm .fundo h3, .jm footer h3{
  color: #fff;
}
/*distancia do texto normal e o restante dos elementos que vem abaixo e ajuste dos cards:*/
.text1{
  padding-bottom: 40px;
}

/*_______________*/
/*AJUSTE DOS CARDS*/
.container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  transform-style: preserve-3d;
}
/*configurar cards*/
.container .card{
  width: 250px;
  height: 370px;
  padding: 40px; /*distanciar pokball e nome do pokémon*/
  margin: 50px; /*distanciar os cards*/
  margin-top: -30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  
  transform-style: preserve-3d;
}
/*tamanho do texto nos cards:*/
.container .card h2 {
  font-size: 30px;
  color: #fff;
  transform-style: preserve-3d;
}
/*configurar imagens dos cards:*/
.container .card img.produto{
  transform-style: preserve-3d;
  transition: .5s;
  width: 200px;
  height: 200px;
  transform: translateZ(20px);
}
/*efeito 3d:*/
.container .card:houver img.produto, .container .card:houver button{
  transform: translate3d(0,0,100px);
}
/*cor dos cards*/
.container div.card1{
  background-image: linear-gradient(45deg, #ff8c00,#FFD500);
}
.container div.card2{
  background-image: linear-gradient(45deg, #003cff,#00f7ff);
}
.container div.card3{
  background-image: linear-gradient(45deg,#5cae81, #6eeb6e);
}

/*_______________*/
/*CONFIG. DOS BOTÕES POKBALL*/
.pokball{
  height: 80px;
  margin: 0;
}
.container .card button{
  border-radius: 50%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: .5s;
}

/*_______________*/
/*RESPONSIVO*/
@media screen and (max-width: 900px){
  .container, .imagens{
    flex-direction: column;
  }
  .imagens .desenho3{
    width: 90vw;
  }
  .jm .social .soci{
    height: 50px;
  }
  /*aproximar os links em "Sobre Mim"*/
  .jm header .eu a{
    margin: 0px;
  }
}

/*_______________*/
/*CONFIGURAÇÃO DAS LINHAS*/
hr{
  height: 1px;
  border-color: #6910a4;
}
.jm hr{
  border-color: #000;
}
/*linhas especiais Charmander:*/
.fire hr, .water hr, .tree hr {
  border-style: solid;
  margin-right: 40px;
  margin-left: 40px;
}
.paraf hr {
  border-style: dashed;
  border-color: green;
  margin-left: 10px;
}
/*linhas especiais Squirtle*/
.parafwater hr {
  border-style: dashed;
  border-color: #914e0e;
  margin-left: 10px;
}

/*_______________*/
/*ajuste da imagem dos links de jm e alinhamento*/
.jm .eu{
  display: flex;
  justify-content: center;
}
.jm .eu a{
  margin: 20px;
  text-align: center;
}
.social .soci{
  height: 100px;
}

/*_______________*/
/*CONFIG. DOS DESENHOS*/
.imagens{
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagens .desenho, .desenho3{
  height: 300px;
  width: auto;
  
  border: 10px;
  border-style: ridge;
  border-color: #b58b24;
  
  margin: 30px;
}

/*_______________*/
/*CONFIG. DAS IMAGENS DE "MINHAS OBRAS FAVORIT."*/
.text1 .anime{
  height: 300px;
  width: auto;
}

/*_______________*/
.jm footer{
  background-color: #111111;
}